# Android
*.apk
*.ap_
*.aab

# Built application files
build/
*/build/

# Gradle files
.gradle/

# Local configuration file
local.properties

# IntelliJ
*.iml
.idea/

# OS files
.DS_Store
Thumbs.db

# APKTool
codeassist_decoded/
*.jar

# Signing files
*.jks
*.keystore
my-release-key.keystore
